<h2>Phrase en cours</h2>

<section>
    <div class="bloc-current-phrase">
        <button mat-raised-button (click)="setPhrase(null)">Créer une phrase</button>
    </div>

</section>
<mat-divider></mat-divider>

<section>
    <div class="bloc-current-phrase">
        <div *ngIf="idPhrase ==='' ;else elseBlock">Ou compléter une phrase 🢃</div>

        <ng-template #elseBlock>
            <button style="float: right;" title="Rafraichir la phrase sélectionnée" (click)="refresh()">
        <mat-icon mattooltip="Rafraîchir" aria-label="Rafraîchir" color="currentColor">refresh</mat-icon>
      </button>
            <div *ngIf="idPhrase != null ; else elseBlockNew ">
                <div>Identifiant de la phrase sélectionnée : <span class="is-phrase-selected">{{idPhrase}}</span></div>
            </div>
            <ng-template #elseBlockNew>
                <div>Nouvelle phrase :</div>
            </ng-template>

            <div *ngIf="stepWord !== '' ; else elseBlockFinish ">
                <form [formGroup]="wordForm">
                    Entrer un
                    <span class="enterword "> {{stepWord}}</span> :

                    <div *ngIf="stepWord=='Complément d\'objet circonstantiel'" class="hide">Exemple : Le chat mange la souris
                        <strong>en tombant</strong></div>
                    <div *ngIf="stepWord == 'Complément d\'objet direct' " class="hide ">Exemple : Le chat mange <strong>la
              souris</strong> en tombant</div>
                    <div *ngIf="stepWord=='Sujet' " class="hide ">Exemple : <strong>Le chat</strong> mange la souris en tombant
                    </div>
                    <div *ngIf="stepWord=='Verbe' " class="hide ">Exemple : Le chat <strong>mange</strong> la souris en tombant
                    </div>
                    <input type="text" formControlName="wordinput">
                    <button [disabled]="!userAuthorizedToEditCurrentPhrase" class="cadavre-button" mat-raised-button (click)="validateCurrentWord()" type="submit">Saisir</button>
                    <div *ngIf="wordForm.invalid && wordinputControl?.touched && wordinputControl.errors">
                        <span *ngIf="wordinputControl.errors['maxlength']">Le mot doit avoir 100 caractères maximum</span>
                        <span *ngIf="wordinputControl.errors['pattern']">Seuls les caractères alpha-numériques sont autorisés</span>
                    </div>
                </form>
            </div>
            <ng-template #elseBlockFinish>
                <div><strong>Phrase complète ! </strong></div>
            </ng-template>
            <!-- <div *ngIf="stepWord !== '' ; else elseBlockFinish "> -->
            <div *ngIf="!userAuthorizedToEditCurrentPhrase; ">
                <div *ngIf="!userConnected">
                    <strong>Vous n'êtes pas autorisé à compléter cette phrase car vous n'êtes pas connecté</strong>
                </div>
                <div *ngIf="userConnected">
                    <strong>Vous n'êtes pas autorisé à compléter cette phrase à cette étape, car vous êtes l'auteur du dernier mot
                        entré</strong>
                </div>
            </div>
        </ng-template>
    </div>
</section>