.expansion-tab {
    background-color: inherit;
    border: 1px solid #ccc;
}

.mat-column-id {
    width: 0.5em;
    border-right: 1px solid currentColor;
    padding-right: 0.5em;
    text-align: center;
}

.mat-column-votes {
    width: 12%;
}

.mat-column-auteurs {
    padding-left: 16px;
    font-size: 15px;
}

.mat-column-phrase {
    padding-left: 3em;
    /* margin-left: 32px; */
    font-size: medium;
    font-family: Verdana;
    font-style: italic;
    width: 80%;
    background: url('../../assets/images/blockquote.png');
    background-size: 1.1em 1em;
    background-repeat: no-repeat;
    background-position-x: 1em;
    background-position-y: center;
}

.row-is-author-in {
    background-color: khaki;
}

@-o-keyframes fadeIt {
    0% {
        background-color: #f8012a;
    }
    50% {
        background-color: #fae900;
    }
    100% {
        background-color: #f8012a;
    }
}

@keyframes fadeIt {
    0% {
        background-color: #f8012a;
    }
    50% {
        background-color: #fae900;
    }
    100% {
        background-color: #f8012a;
    }
}

.row-is-redirected-to {
    background-image: none !important;
    -o-animation: fadeIt 5s ease-in-out;
    animation: fadeIt 5s ease-in-out;
}

.like-button {
    /* width: 100%;
    height: 100%; */
    border: 0em;
    /* color: darkslategrey; */
    /* float: left; */
    background: none;
    margin-right: -0.2em;
}

.like-button-unpressed {
    color: grey;
    font-size: large;
}

.like-button-pressed {
    color: darkslategrey;
    font-size: x-large;
}

.like-button:hover {
    color: darkslategrey;
    font-size: x-large;
}

.dislike-button:hover {
    color: darkslategrey;
    font-size: x-large;
}

.dislike-button {
    border: 0em;
    /* float: right; */
    /* color: darkslategrey; */
    background: none;
    margin-left: -0.2em;
}