<main class="form-signin">
    <form [formGroup]="loginForm">
        <h1 class="h3 mb-3 fw-normal">CONNEXION</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" formControlName="username">
            <label for="floatingInput">Identifiant</label>
            <div *ngIf="loginForm.invalid && usernameControl?.touched && usernameControl.errors">
                <span *ngIf="usernameControl.errors['required']">L'identifiant est obligatoire</span>
                <span *ngIf="usernameControl.errors['email']">L'identifiant doit être un email</span>
            </div>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" formControlName="password">
            <label for="floatingPassword">Mot de passe</label>
            <div *ngIf="loginForm.invalid && passwordControl?.touched && passwordControl.errors">
                <span *ngIf="passwordControl.errors['required']">Le mot de passe est obligatoire</span>
                <span *ngIf="passwordControl.errors['minlength']">Le mot de passe doit avoir au moins 3 caractères</span>
            </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" (click)="login()" type="submit" [disabled]="this.loginForm.invalid">Connexion</button>
        <button id="cancel" class="btn btn-light btn-block" (click)="cancel()">Annuler</button>
        <div *ngIf="errorMessage !== ''">
            errorMessage
        </div>
    </form>
</main>