#main {
    margin-left: auto;
    margin-right: auto;
    width: 60em
}

.bloc {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}