<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="main">
    <h1>Cadavre Exquis</h1>
    <app-fakelogin></app-fakelogin>
    <div class="bloc">
        <app-currentphrase></app-currentphrase>
    </div>
    <div class="bloc">
        <app-inprogress></app-inprogress>
    </div>
    <div class="bloc">
        <app-history></app-history>
    </div>
    <router-outlet></router-outlet>
</div>