#main {
    margin-left: auto;
    margin-right: auto;
    width: 62em;
}

#bandeau {
    margin-top: 0.5em;
    position: relative;
    float: right;
}

.button-bandeau {
    margin-left: 0.5em;
}

.bloc {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

.bloc-tab {
    margin-top: 1em;
    background-color: #f3f3f3;
}

#title {
    /* font-family: Matura MT Script Capitals; */
    /* font-family: Brush Script MT; */
    font-family: MV Boli;
    /* font-family: Harlow; */
    font-size: xx-large;
}